{% extends "website/base.html" %}

{% block main_content %}
<h1>Welcome to our E-Commerce Store</h1>
<p>Discover a wide range of products at unbeatable prices!</p>
<div class="product-list">
  {% for product in products %}
<div class="product-item">
  <h2>{{ product.name }}</h2>
  <p>Price: ${{ product.price }}</p>
  <p>{{ product.description }}</p>
  <p>STOCK LEFT: {{product.stock}}</p>
</div>
{% empty %}
<p>No products available at the moment. Please come back later.</p>
{% endfor %}
</div>
{% endblock %}